$font-main: 'Roboto', sans-serif;
$color-main-accent: #060b35;
$color-secondary: #616070;
$color-border: #f3f3f3;
$color-white: #fff;
$color-button: #00acdc;
$color-star: #f3c539;
$card-border-radius: 5px;
